


<input class="menu-btn" type="checkbox" id="menu-btn"/>
<label class="menu-icon" for="menu-btn">
  <span class="navicon"></span>
</label>
<aside>
  <div class="container">
    <nav>
      <ul>
       <!--  {% for page in site.pages %} {% if page.title %} -->
       <!--  <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li> -->
       <!--  {% endif %} {% endfor %} -->
        <li><a href="#heading-skills" onclick="document.getElementById('menu-btn').checked = false;">SKILLS</a></li>
        <li>
          <a href="#heading-projects" onclick="document.getElementById('menu-btn').checked = false;">
           PROJECTS
          </a>
        </li>
        <li>
          <a href="#heading-story" onclick="document.getElementById('menu-btn').checked = false;">
            STORY
          </a>
        </li>
        <li>
          <a href="{{ "/blog" | prepend: site.baseurl }}">
            BLOG
          </a>
        </li>
        <li> <a href="{{"/downloads/GaliGurevich_frontEndDeveloper_CV2021.pdf" | prepend: site.baseurl }}"  target="_blank">CV</a></li>
        <li>
          <a href="mailto:galiagurevich@gmail.com" target="_blank">
            EMAIL
          </a>
           <!-- [EMAIL](mailto:galiagurevich@gmail.com){:target="_blank"} -->
        </li>
      </ul>
      <ul class="aside-submenu">
        <li style="margin-top:25px">
         <a class="link" href="https://www.linkedin.com/in/gali-gurevich-8b692712a/">
          LINKEDIN
         </a>
       </li>
        <li>
          <a class="link" href="https://github.com/galia1902">
            GITHUB
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>



