//header
.partly-header-container{
  padding:8px 0 0 5px;
  display:flex;
}
.partly-back-link{
  padding:3px 20px 0 0;
}

//content

.project-wrap{
    // width:70%;
    // position:center;
    // padding: 20% 30% 0 30%;
    background-color:red;
    // z-index: 2;
    display:flex;
    flex-direction:column;
}
// .blog-main{
//   padding: 0 15px;
//       max-width: 770px;
//       margin: 0 auto;
//       line-height: 1.2em;
//       letter-spacing: 0.06rem;
//       font-weight: 200;
//       transform: translateY(-59%);
// }
.page{
  height:100vh;
  width:100%;
  display: flex;

}
#page1{
  background-color:blue;
}
#page2{
  background-color:purple;
}
#page3{
  background-color:pink;
}
#page4{
  background-color:yellow;
}

.page-content{
  width:80%;
  margin:0 auto;
  background-color:green;
  padding: 55px 0 0 0;
  display:flex;
}
.page-content1{
  background-color:violet;
}
.page-content2{
  background-color:SkyBlue;
}
.page-content3{
  background-color:DarkSalmon;
}
.page-content4{
  background-color:brown;
}
.partly-gif-container{
  margin: 0 0 0 15%;
  width: 40%;
}
.partly-text-left{
  width: 40%;
  padding: 10px 0 0 100px;
}
.partly-text-right{
  width:25%;
  padding:10px 0 0 0 ;
}
.partly-gif-1{
  height:85%;
  width:auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="page-content"] {
    flex-direction: column;
    width:100%;
 }
  [class*="partly-text-right"] {
    width:80%;
    padding:10% 10% 10% 10%;
 }
}


// margin:0 auto;
//     background-color:green;
//     padding: 55px 0 0 0;
//     display:flex;


