/** --------------------------------------------------
Author       : gali gurevich
Description: project showcase

Version      : 1.0
* -------------------------------------------------  */
//typo
.partly-text{
  font-weight: bold;
  display: block;
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  font-weight: 300;
  position:relative;
  right:auto;
  bottom:auto;
  display: block;
  padding:10px 20px 0 0;
  line-height: 18px;
  color:#4D4D4D;
  width: 100%;
  z-index: 200;
}
//header
.partly-header-container{
  color:#193234;
  padding: 4px 0 0 5px;
  display:flex;
  position:fixed;
  width:100%;
  height:35px;
  z-index: 10;
  background-color: #f5ffff;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  &.active{
  background-color: #ffffff00;
  box-shadow:0 0px 0px rgba(0,0,0,.0);
  }
}
.partly-back-link{
  padding:3px 20px 0 0;
}
.project-wrap{
  background-color: #d1e9f5;;
  margin-top: 0;
  height: auto;
  position: relative;
  z-index: 2;
  padding: 2rem;
  display: flex;
  // overflow: hidden;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  p{
       scroll-snap-align: start;
  }
}
//check what is the p for"
p {
   width: 100%;
   display:block;
}
.page{
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  height: 100vh;
  justify-content: space-around;
}
.page0{
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding-top:120px;
}
.page1,.page2,.page3{
  padding: 50px;
  z-index: 1;
}
.page1,.page2,.page3{
 padding-top: 100px;
}
.partly-content-title{
  display:block;
  text-align:center;
  max-width:100%;
  height:auto;
  margin-bottom: 7px;
}
.partly-logo-title{
  width: 240px;
}
.partly-sub-title{
  display: block;
  text-align: center;
}
.partly-text-main{
  display:block;
    position: absolute;
    width: 170px;
    right: 10px;
    bottom: 24px;
    text-align:left;
}
.partly-text-main-background{
    margin: 80px auto;
    background: #fff;
    width: 320px;
    height: 310px;
    box-shadow: 0px 14px 24px -10px rgba(0,0,0,.25);
}
.partly-gif-container{
  max-width:300px;
  display: flex;
  width: 50%;
  min-width: 300px;
}
.partly-gif{
  width: 90%;
  max-width: 370px;
  height: fit-content;
  margin: 0 auto;
}
.partly-text-background-1, .partly-text-background-2,.partly-text-background-3{
  background-color:white;
  box-shadow: 0px 14px 24px -10px
  rgba(0,0,0,.25);
  max-width:100%;
  margin:20px 0 0 0;
  justify-content:flex-end;
  width:400px;
  height: 130px;
}

.partly-text-background-1{
  // min-width: 300px;

}
.partly-text-background-2{
  margin-top: 15px;

}
.partly-text-background-3{

}
@media only screen and (max-height: 670px) {
.page{
  height:initial;
}
}
@media only screen and (max-width: 375px) {
.partly-text-background-1{
  height: 180px;
}
}
@media only screen and (max-width: 830px) {
.partly-text-background-1{
  margin-top: 35px;
}
.partly-text-background-2{
  margin-bottom: 35px;
}
.partly-text-background-3{
  margin-top: 35px;
}
}








