<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <!-- header container -->
    <div class="partly-header-container">
        <div class="partly-back-link">
        <a onclick="history.go(-1)">
          <svg width="11" height="22" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/>
          </svg>
        </a>
      </div>
     <!--  <div class="partly-header-content" style='font-weight:bold;'>
        <span style='color: #4285f4'>P</span>
        <span style='color: #ea4335'>a</span>
        <span style='color: #fbbc05'>r</span>
        <span style='color: #4285f4'>t</span>
        <span style='color: #34a853'>l</span>
        <span style='color: #ea4335'>y</span>
      </div> -->
    </div>
    <!-- content container -->
    <div class="project-wrap">
      <main>
        {{ content }}
      </main>
    </div>

  </body>
</html>

<script>
  $(window).on("scroll", function() {
    if($(window).scrollTop() > 25) {
        $(".partly-header-container").addClass("active");
    } else {
        //remove the background property so it comes transparent again (defined in your css)
       $(".partly-header-container").removeClass("active");
    }
});

var scroll = true;

$(window).scroll(function (e) {

    var position = $(document).scrollTop();
    var startP = $("#scrollTOO").position();
    var finishP = $("#scrollTo");

    if(position > startP.top && startP.top+100 && scroll==true ) {
        scroll = false;

        $('html,body').animate({scrollTop: finishP.offset().top},2000);

    } if (position > 0 && position < 300 && scroll==false) {
        scroll = true;
    }
})
</script>
